<h2>Events</h2>

<h3>My Events</h3>

{{#each events}}
<div>
  <p>{{this.title}}</p>
  <p>{{this.description}}</p>
  <p>{{this.address}}</p>
  <p>{{this.date}}</p>
  <p>{{this.time}}</p>
  <a href="/events/{{_id}}/add">Add friends</a>
  <a href="/events/confirmations/{{_id}}">Status</a>
</div>
{{/each}}

<h3>Invitations</h3>

{{#each invitations}}
<div>
  <p>{{this.title}}</p>
  {{!-- <p>{{this.description}}</p>
  <p>{{this.address}}</p>
  <p>{{this.date}}</p>
  <p>{{this.time}}</p> --}}
  <form action="/events/invitations/{{_id}}" method="POST">
  <input class="invitation-form-input" type="text" name="confirmation">
  <button class="invitation-button-confirm" type="submit">Confirm</button>
  <button class="invitation-button-reject" type="submit">Reject</button>
  </form>
</div>
{{/each}}





<h3>Upcoming Events</h3>
<ul>
{{#each confirmations}}
  <li>{{this.title}}</li>
</ul>
{{/each}}







<script src="javascripts/events.js"></script>
