<h2 class="events-h2">Events</h2>
<div class="events-container">
  <h3>My Events</h3>

  {{#each events}}
  <div class="myEvents">
    <div class="img-event">
      <img src="{{this.imageUrl}}" alt="picture" >
    </div>
      <p><strong>Title:</strong> {{this.title}}</p>
      <p><strong>Description:</strong> {{this.description}}</p>
      <p><strong>Adress:</strong> {{this.address}}</p>
      <p><strong>Date:</strong> {{this.date}}</p>
      <p><strong></strong> {{this.time}}</p>
    <div>
      <a href="/events/{{_id}}/add"><i class="fas fa-user-plus"></i></a>
      <a href="/events/confirmations/{{_id}}"><i class="fas fa-info-circle"></i></i></a>
      <form action="/delete/{{_id}}" method="POST">
        <button type="submit"><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
  </div>
  {{/each}}

  <h3>Invitations</h3>

  {{#each invitations}}
  <div class="myInvitations">
    <div class="titleMoreInfoInvitations">
    <p><strong>Event: </strong>{{this.title}}</p>
    <a href="events/info/{{_id}}"><i class="fas fa-info-circle"></i></a>
    </div>
    <form action="/events/invitations/{{_id}}" method="POST">
        <input class="invitation-form-input" type="text" name="confirmation">
        <button class="invitation-button-confirm" type="submit"><i id="confirm" class="far fa-check-circle"></i></button>
        <button class="invitation-button-reject" type="submit"><i id="reject" class="fas fa-ban"></i></button>  
    </form>
  </div>
  {{/each}}
  
  <h3>Upcoming Events</h3>
  {{#each confirmations}}
  <div class="myInvitations" style="margin-bottom: 50px;">  
      <p id="pUpcoming"><strong>Event: </strong>{{this.title}}</p> 
      <a id="aUpcoming" href="/events/info/{{_id}}"><i class="fas fa-info-circle"></i></a> 
  </div>  
  {{/each}}
</div>






<script src="javascripts/events.js"></script>