<div class="friends-container">
  <div class="friends-search">
    <h2>Friends</h2>

    <form action="/users/friends" method="GET">
      <input type="text" name="name" placeholder="user name" class="friends-input">
      <button type="submit">Search</button>
    </form>

    <div>
      <form action="/users/friends" method="POST" class="friends-add">
        {{#if friend.name}}
        <img src="{{friend.imageUrl}}">
        <input type="text" name="name" value="{{friend.name}}" class="friends-add-input">

        <button type="submit">Add</button>
        {{/if}}
      </form>
    </div>

    {{> flash}}
  </div>

  <hr class="hr-friends">
  <ul>
    {{#each myFriends.friends}}
    <div class="friends-detail">
      <img src="{{this.imageUrl}}" alt="picture">
      <div class="friends-list">
        <li>{{this.name}}</li>
        <a href="/users/info/{{_id}}">More Details</a>
      </div>
    </div>

    {{/each}}
  </ul>
  <div class="contanierBack">
    <a href="/">Back</a>
  </div>
</div>