<h2>Messages</h2>

{{#each myMessages}}
  <div>
    <h4>With: {{this.participant.name}}</h4>
    {{#each this.body}}
      <p>{{this.message}}</p>
      <h4>by {{this.messageCreator}}</h4>
    {{/each}}
  </div>
  <a href="/messages/{{this._id}}/edit">Reply</a>
  <form action="/messages/delete/{{this._id}}" method="POST">
    <button type="submit">Delete</button>
  </form>
{{/each}}

{{#each messages}}
  <div>
    <h4>From: {{this.creator.name}}</h4>
    {{#each this.body}}
    <p>{{this.message}}</p>
    <h4>by {{this.messageCreator}}</h4>
    {{/each}}
  </div>
  <a href="/messages/{{this._id}}/edit">Reply</a>
  <form action="/messages/delete/{{this._id}}" method="POST">
    <button type="submit">Delete</button>
  </form>
{{/each}}


<a href="/messages/new">New Message</a>